@import "values"
@import "_util/grid.styl"
@import "_util/mixin.styl"

html
  background: white
  height: 100%
body
  background: eleme-background-light !important
  margin: 0 auto !important
  max-width: eleme-max-width
  font-family: font-sans
  height: 100%
  overflow-x: hidden

#wrapper
  min-height: 100%
  position: relative

a
  text-decoration: none

a:visited
  color: eleme-red

#eleme-content-outer
  background: #fdfdfa
  min-height: 100%
  padding-bottom: 108px
  width: 100%
  overflow: hidden

@import "style.styl"
@import "_partial/menu.styl"
@import "_partial/bottom.styl"
@import "_partial/index.styl"
@import "_partial/post.styl"
