@import "values"
@import "_util/grid.styl"
@import "_util/mixin.styl"

html, body
  background: #fdfdfa
  margin: 0 auto
  max-width: eleme-max-width
  font-family: font-sans
  height: 100%
html
  background: #fdfdfa

a
  text-decoration: none

#eleme-content-outer
  background: #fdfdfa

@import "_partial/menu.styl"
@import "_partial/bottom.styl"
@import "_partial/index.styl"