#eleme-bottom-outer
  background: eleme-bottom-background
  color: color-99
  position: absolute
  bottom: 0
  height: 60px
  border-top-left-radius: 2px
  border-top-right-radius: 2px
  width: 100%
  max-width: eleme-max-width

#bottom-inner
  margin: eleme-default-padding