#eleme-bottom-outer
  background: eleme-bottom-background
  color: color-99
  position: absolute
  bottom: 0
  height: 60px
  border-top-left-radius: 2px
  border-top-right-radius: 2px
  width: 100%
  max-width: eleme-max-width
  overflow: hidden

#bottom-inner
  margin: eleme-default-padding
  p
    margin: 0 auto
    margin-top: 8px
    padding: 0
    font-size: font-size-normal
    text-align: center

//.eleme-copyright
.eleme-theme-copyright
  font-size: font-size-mini
  color: color-66
  a
    color: color-66
    &:hover
      color: eleme-blue