.recent-posts-hint
  color: color-33
  font-size: font-size-xlarge
  font-weight: lighter

#recent-posts .release
  font-size: font-size-mini

.recent-posts-title
  font-size: font-size-xlarge
  color: color-33
  &:hover
    color: eleme-blue

.recent-post-item
  min-height: 60px
  margin: eleme-default-padding
  border-bottom: 1px eleme-separator dashed
