#eleme-menu-outer
  background: eleme-blue
  padding: eleme-default-padding
  border-bottom-left-radius: 2px
  border-bottom-right-radius: 2px
  min-height: 44px
  img
    max-width: eleme-logo-width
    margin-top: 4px
    margin-left: 4px

#menu-inner
  float: right
  margin-top: 10px
  a
    text-decoration: none
    color: white
    font-size: font-size-large
    margin-right: 4px