#post
  margin-left: eleme-default-padding
  margin-right: eleme-default-padding
  p
    line-height: 28px
    margin-top: 28px
  h2
    margin-top: 48px

//文章标题居中
.post-title
  text-align: center
  font-weight: lighter
  font-size: font-size-xlarge

.post-meta
  margin: 0 auto
  text-align: center
  font-size: font-size-normal
  font-weight: lighter
  a
    &:hover
      color: eleme-blue
    &:active
      color: eleme-orange

code
  font-family: font-mono
  color: color-66
  background: eleme-background
  padding-left: 4px
  padding-right: 4px
  padding-top: 2px
  padding-bottom: 2px
  border-radius: 2px

.line
  color: color-99
  font-size: font-size-normal
  font-family: font-mono
  margin-left: 4px

.post-wrapper
  figure
    background: color-footer-background
    overflow-x: scroll
    padding: eleme-default-padding
    figcaption
      color: white
